#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.travel_main {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel_main img {
    width: 100%;
}

.travel_main hr {
    width: 230px;
}

.travel_main h5,
p {
    margin-left: 20px;
}

.movie-header {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie-header i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.env_li {
    margin-top: 15px;
}

.env_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

iframe {
    width: 100%;
}

img {
    border-radius: 30px;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

#fse {
    text-align: center;
}
